@import "~@ibm/plex/css/ibm-plex.css";

:root {
  --black: #131313;
  --white: #fefefe;
  --blue: #232ed1;
  --red: #fe4a49;
  --green: #49fe7e;
  --turquoise: #41d3bd;
  --yellow: #fcba04;
}

ul {
  list-style-type: none;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: capitalize;
  margin: 0;
}

h2 {
  font-family: "Avenir Next";
  font-size: 0.625em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.6;
  margin: 0 0 1em 0;
}

#menu {
  background-color: var(--black);
  height: 100vh;
}

nav a {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: capitalize;
  text-decoration: none;
}

#summary,
#sit-stand-variety,
#in-chair-movement,
#sitting-posture,
#menu,
#about {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#summary > article,
#sit-stand-variety > article,
#in-chair-movement > article,
#sitting-posture > article,
#menu ul,
#about > article {
  width: calc(100vw - 40px);
  margin: 0;
}

#summary nav a,
#sitting-posture nav a,
#about nav a {
  color: var(--black);
}

#menu ul {
  padding-top: 20px;
}

#menu ul li a {
  color: var(--white);
}

main article nav {
  position: fixed;
  width: 100%;
  height: 128px;
  padding-top: 20px;
  background-color: var(--white);
}

main article nav a {
  opacity: 0.5;
  margin-bottom: 2px;
}

main > a {
  position: fixed;
  width: 100vw;
  height: 4em;
  bottom: 0;
  border-radius: 32px 32px 0 0;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
  text-transform: capitalize;
  padding: 20px 0 0 20px;
}

main > a img {
  float: right;
  margin-right: 20px;
}

#summary > a {
  background-color: var(--blue);
}

#sit-stand-variety > a {
  background-color: var(--red);
}

#in-chair-movement > a {
  background-color: var(--white);
  color: var(--black);
}

#sitting-posture > a {
  background-color: var(--black);
  border-radius: 0;
}

#legendICM ul li div {
  width: 0.5em;
  height: 0.5em;
  background-color: var(--blue);
}

#buoyVisual {
  max-width: 190px;
}

#about #illustrationContainerOne {
  margin-top: 128px;
}

#about .illustrationContainer {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  height: 20em;
  margin-top: 3em;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -moz-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  background-image: repeating-radial-gradient(
    center center,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    transparent 1px,
    transparent 100%
  );
  -webkit-background-size: 12px 12px;
  -moz-background-size: 12px 12px;
  background-size: 12px 12px;
}

#about h1:not(:first-of-type) {
  margin-top: 2em;
}

#about p {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  color: var(--black);
  font-size: 1.5em;
  font-weight: normal;
  width: calc(100vw - 40px);
}

#quickStatusWrapper {
  width: 5em;
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
}

#quickStatusOne,
#quickStatusTwo,
#quickStatusThree {
  width: 1em;
  height: 1em;
}

#quickStatusOne {
  background-color: var(--red);
}

#quickStatusTwo,
#quickStatusThree {
  background-color: var(--green);
}

#summaryMain {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 2em;
}

#summaryMain span {
  font-weight: bold;
}

.statusOne {
  color: var(--red);
}

.statusTwo,
.statusThree {
  color: var(--green);
}

.adviceContainer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.adviceContainer ul li {
  margin-bottom: 1em;
}

.adviceContainer ul li:first-of-type {
  flex-basis: 100%;
}

.adviceContainer ul li:not(:first-of-type) {
  flex-basis: 50%;
}

.adviceContainer ul li span {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.125em;
  font-weight: 500;
}

.goalsContainer ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 0 1em 0;
}

.goalsContainer ul li {
  display: flex;
  margin-bottom: 1em;
}

.goalsContainer ul li div {
  margin-right: 1em;
}

#goalOneCheckbox,
#goalTwoCheckbox,
#goalThreeCheckbox {
  width: 1em;
  height: 1em;
}

#goalOneCheckbox {
  border: 2px solid var(--blue);
}

#goalTwoCheckbox {
  background-color: var(--red);
}

#goalThreeCheckbox {
  background-color: var(--turquoise);
}

.weekProgress {
  margin-bottom: calc(96px + 2em);
}
