$black: #131313;
$white: #fefefe;
$yellow: #fcba04;
$green: #49fe7e;
$red: #fe4a49;
$blue: #232ed1;
$turqouise: #41d3bd;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
