:root {
  --black: #1a1919;
  --white: #fefefe;
  --yellow: #ffcb49;
  --green: #45b188;
  --orange: #fc7a57;
  --red: #e77174;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
