:root {
  --black: #1a1919;
  --white: #fefefe;
  --yellow: #ffcb49;
  --green: #45b188;
  --orange: #fc7a57;
  --red: #e77174;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  font-family: 'Avenir Next';
  color: var(--white);
  text-transform: lowercase;
}

#welcomeMessage {
  display: none;
  animation: none;
  font-size: 24px;
}

#loader,
#loader:before,
#loader:after {
  width: 8px;
  height: 8px;
  animation-fill-mode: both;
  animation: load 1.8s infinite ease-in-out;
}

#loader {
  display: block;
  color: var(--white);
  font-size: 10px;
  position: relative;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
#loader:before,
#loader:after {
  content: '';
  position: absolute;
  top: 0;
}
#loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
#loader:after {
  left: 3.5em;
}

@keyframes load {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes fadeIn {
  0% {
    visibility: collapse;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

#authorisation {
  visibility: collapse;
}

#authorisation,
#register {
  flex-basis: 40%;
  width: calc(100vw - 80px);
  margin: 0 auto;
  margin-top: 60px;
  animation: none;
}

#authorisation *,
#register * {
  display: block;
  margin: 0 auto;
  width: 100%;
}

#authorisation span,
#authorisation a,
#register span,
#register a {
  text-align: center;
}

#authorisation input[type='text'],
#authorisation input[type='password'],
#register input[type='text'],
#register input[type='password'] {
  padding: 12px 0px;
  margin: 12px 0;
  background-color: var(--black);
  border: none;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  font-weight: lighter;
  font-size: 1em;
  box-sizing: border-box;
  border-radius: 0;
}

#authorisation input[type='submit'],
#register input[type='submit'] {
  width: 120px;
  margin-top: 60px;
  background-color: var(--white);
  color: var(--black);
  border: none;
  border-radius: none;
  box-sizing: border-box;
  padding: 12px 0px;
  font-size: 1em;
  font-weight: lighter;
  margin-bottom: 12px;
}

#authorisation a {
  font-family: 'Avenir Next';
  width: 120px;
  border: 1px solid var(--white);
  color: var(--white);
  text-decoration: none;
  padding: 12px 0px;
  font-size: 1em;
  margin-top: 12px;
}
