@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans');

:root {
  --black: #1a1919;
  --white: #fefefe;
  --yellow: #ffcb49;
  --red: #e77174;
  --cyan: #3db7bd;
  --blue: #2e7fc1;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

nav {
  position: fixed;
  left: 50px;
  width: 200px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 140px;
}

nav ul li {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875em;
  letter-spacing: 0.5px;
  margin-bottom: 12px;
  text-decoration: none;
}

nav ul li:nth-child(5) {
  border-top: 1px dashed lightgrey;
  margin-top: 2em;
  padding-top: 2em;
}

nav ul li:hover {
  cursor: pointer;
}

.redText {
  color: var(--red);
}

.yellowText {
  color: var(--yellow);
}

.cyanText {
  color: var(--cyan);
}

.blueText {
  color: var(--blue);
}

.extra {
  color: lightgrey;
  font-weight: lighter;
  font-size: 0.75em;
}

.extra a {
  text-decoration: none;
  color: lightgrey;
}

.largeText {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  width: 816px;
  color: var(--white);
  font-family: 'Avenir Next';
}

body {
  margin: 0;
  width: 100vw;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  width: 100vw;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 800;
  font-size: 2.25em;
  margin-bottom: 12px;
  color: var(--white);
}

a {
  color: var(--white);
  transition: 0.2;
}

a:hover {
  color: var(--yellow);
  transition: 0.2;
}

p {
  font-family: 'Avenir Next';
  font-weight: normal;
  font-size: 0.875em;
  width: 32em;
  color: var(--white);
  line-height: 18px;
  margin: 0 4em 0 0;
}

p:last-of-type {
  margin: 0 0 0 0;
}

#deltaIcon {
  height: 220px;
  margin-top: 10vh;
}

#authorInformation {
  height: 20vh;
  width: 100vw;
  bottom: 50px;
}

#authorInformation ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 50px;
}

#authorInformation ul li {
  color: var(--white);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.75em;
  width: 515px;
}

#authorInformation ul li:first-of-type {
  font-size: 1em;
}

#authorInformation ul li:first-of-type,
#authorInformation ul li:nth-of-type(3) {
  margin-bottom: 12px;
}

#introduction,
#ontwerpvraag,
#concept,
footer {
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#introduction h1,
#ontwerpvraag h1,
#concept h1,
footer h1 {
  width: 952px;
  margin-top: 100px;
}

.splitPaneText {
  display: flex;
  flex-direction: row;
}

#ontwerpvraag > span {
  margin-top: 4em;
}

#ontwerpvraag > span > span:hover {
  cursor: pointer;
}

#ontwerpvraag #stressoren:hover {
  background-color: var(--yellow);
  color: var(--white);
  transition: 0.2s;
}

#ontwerpvraag #kantoormedewerkers:hover {
  background-color: var(--red);
  color: var(--white);
  transition: 0.2s;
}

#ontwerpvraag #webapp:hover {
  background-color: var(--cyan);
  color: var(--white);
  transition: 0.2s;
}

#ontwerpvraag #comfort:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: 0.2s;
}

.designChallenge {
  width: 952px;
  margin-top: 4em;
}

.designChallenge h3 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: normal;
  font-size: 0.875em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.designChallenge ul {
  list-style: none;
  padding: 0;
}

.designChallenge ul li {
  font-family: 'Avenir Next';
  color: var(--white);
  font-weight: 500;
  font-size: 1.125em;
  width: 512px;
  margin-bottom: 1em;
}

#selectItem {
  width: 952px;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
  margin-top: 2em;
}

#selectItem ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#selectItem ul li {
  font-family: 'IBM Plex Mono', monospace;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline;
  font-weight: lighter;
  transition: 0.2s;
}

#concept ul .active,
#selectItem ul li:hover {
  font-weight: normal;
  transition: 0.2s;
  cursor: pointer;
}

#selectItem ul li:first-of-type:hover {
  color: var(--yellow);
}

#selectItem ul li:last-of-type:hover {
  color: var(--red);
}

#fysiekActive,
#webappActive {
  display: flex;
  justify-content: space-between;
  width: 952px;
}

#fysiekActive svg {
  margin: 2em 0 0 0;
  margin: 0 auto;
  margin-top: 2em;
}

#fysiekActive p,
#webappActive p {
  margin-top: 2em;
}

.led {
  opacity: 1;
}

#webappActive img {
  max-height: 340px;
  margin: 2em 8.5em 0 0;
}

footer {
  height: 100vh;
}

footer img {
  margin-top: 2em;
  width: 952px;
}

@media screen and (min-width: 1080px) {
  nav {
    top: 110px;
  }
}

@media screen and (max-width: 1080px) {
  body {
    width: 100vw;
  }

  header {
    height: 75vh;
  }

  #authorInformation {
    height: 25vh;
    font-size: 1.125em;
  }

  #authorInformation,
  #introduction,
  #ontwerpvraag,
  #concept,
  footer {
    width: 100vw;
  }

  #introduction,
  #ontwerpvraag,
  #concept,
  footer {
    min-height: 100vh;
    height: 100%;
  }

  #introduction div,
  #introduction h1,
  #ontwerpvraag div,
  #ontwerpvraag h1,
  .largeText,
  #concept div,
  #concept h1,
  footer div,
  footer h1 {
    width: 90%;
  }
}

@media screen and (max-width: 414px) {
  nav {
    background-color: var(--black);
    width: 100vw;
    height: 32px;
    left: 0;
    bottom: 0;
  }

  nav ul {
    padding: 8px 0px 0px 0px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul li {
    display: inline;
    font-size: 0.875em;
  }

  nav ul li:nth-child(4) {
    display: none;
  }

  .extra {
    display: none;
  }

  header {
    height: 65vh;
  }

  #authorInformation {
    height: 35vh;
  }

  #authorInformation ul {
    padding: 0;
    margin-left: 20px;
  }

  #authorInformation ul li {
    width: 90vw;
  }

  .splitPaneText {
    flex-direction: column;
  }

  #introduction div,
  #introduction h1,
  #introduction div p,
  #ontwerpvraag div,
  #ontwerpvraag h1,
  #ontwerpvraag div p,
  .largeText,
  #concept div,
  #concept h1,
  footer div,
  footer h1 {
    width: 90vw;
    height: auto;
    padding: 0;
  }

  #introduction p,
  #ontwerpvraag p {
    font-size: 0.875em;
    line-height: 16px;
  }

  #ontwerpvraag > span {
    margin-top: 40px;
  }

  .largeText {
    width: 90vw;
    font-size: 1.125em;
    line-height: 22px;
    margin-top: 0;
  }

  .designChallenge {
    margin-top: 40px;
  }

  .designChallenge ul li,
  #concept p,
  footer p {
    width: 90vw;
    font-size: 0.875em;
  }

  #concept {
    margin-bottom: 4em;
  }

  #selectItem,
  #concept div > p {
    margin-top: 8px;
  }

  #fysiekActive,
  #webappActive {
    flex-direction: column;
  }

  #fysiekActive svg,
  #webappActive img {
    order: -1;
  }

  #fysiekActive svg {
    width: 100%;
  }

  #webappActive img {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  footer {
    display: none;
  }
}
