<%- include('head.ejs') %>
<body>

  <span id='welcomeMessage'>Welcome</span>
  <div id='loader'></div>

  <div id='authorisation'
    <form action='/login' method='POST'>
      <label>
        <input type='text' name='username' placeholder='username' required autofocus>
      </label>
      <label>
        <input type='password' name='password' placeholder='password' required>
      </label>
      <input type='submit' value='log in'>
    </form>

    <span>or</span>

    <a href='/register'>register</a>
  </div>

</body>
<%- include('tail.ejs') %>
