<%- include('head.ejs') %>
<body>

  <div id='register'
    <form action='/login' method='POST'>
      <span>first of all, what is your first name?<span>
    </form>
  </div>

</body>
<%- include('tail.ejs') %>
